
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 128rem;
}.shape-F59 {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.shape-F59 .crbn-QCw {
  margin-bottom: 67.2rem;
  max-width: 115.2rem;
  font-size: 8rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #ffffff;
  font-family: Rubik One, 'Source Sans Pro';
  flex-shrink: 0;
}
.shape-F59 .image-2-VVH {
  width: 128rem;
  height: 42.1rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
