<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>Desktop - 1</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C600%2C700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Rubik+One%3A400"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Jura%3A400%2C600%2C700"/>
  <link rel="stylesheet" href="../static/desktop-1.css"/>
</head>
<body>
<div class="desktop-1-s83">
  <img class="shape-Eco" src="../static/shape.png"/>
  <div class="rectangle-1-9Dy">
  </div>
  <img class="codesandbox-A2b" src="../static/codesandbox.png"/>
  <p class="kalf-GLX">kAlf</p>
  <p class="company-vfy">company</p>
  <div class="group-1-QzT">
    <p class="item--j19">Главная</p>
    <p class="item--PrP">О нас</p>
    <p class="item--i7y">Генерация структур</p>
    <p class="item--CJ3">Контакты</p>
  </div>
  <img class="line-1-Jby" src="../static/REPLACE_IMAGE:6:8"/>
  <div class="rectangle-2-33m">
  </div>
  <p class="item--v7Z">Войти</p>
  <div class="mouse-pointer-1Pu">
  </div>
  <div class="shape-YPq">
    <p class="crbn-sh1">
    Предсказание аффинности
    <br/>
    к ферменту CRBN
    </p>
    <div class="group-3-m1h">
      <div class="group-2-HEw">
        <img class="auto-group-xp5y-qXM" src="../static/auto-group-xp5y.png"/>
        <p class="smiles-A3q">Ввести SMILES</p>
      </div>
    </div>
  </div>
  <div class="group-4-Tod">
    <div class="rectangle-4-GFH">
    </div>
    <p class="item--CFR">Зарегистрироваться</p>
  </div>
</div>
</body>