<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>Desktop - 2</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Jura%3A400%2C600"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C600"/>
  <link rel="stylesheet" href="../static/desktop-2.css"/>
</head>
<body>
<div class="desktop-2-Rv7">
  <img class="shape-mUB" src="../static/shape-Dtb.png"/>
  <img class="codesandbox-hsd" src="../static/codesandbox-FWf.png"/>
  <p class="kalf-qD9">kAlf</p>
  <p class="company-Wq5">company</p>
  <div class="group-1-pas">
    <p class="item--Z2f">Главная</p>
    <p class="item--Tdq">О нас</p>
    <p class="item--aiT">Генерация структур</p>
    <p class="item--5fD">Контакты</p>
  </div>
  <img class="line-1-oLK" src="../static/REPLACE_IMAGE:11:23"/>
  <div class="rectangle-2-YHu">
  </div>
  <p class="item--ebq">Этот ресурс создан для предсказания сродства химических соединений к убилектинлигазе</p>
  <p class="item--BEP">Войти</p>
  <div class="ellipse-1-5af">
  </div>
  <img class="arrow-right-miP" src="../static/arrow-right.png"/>
</div>
</body>